name: Documentation

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  make_html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install main package
        run: |
          pip install nbsphinx
          pip install git+https://github.com/hsiangjenli/hsiangjenli_sphinx_theme.git
          pip install -e .

      - name: Build documentation
        run: |
          cd docs && make clean && make html SPHINXOPTS="-W"